<template>
    <div class="add">
        <h1>MARVEL ADD Character</h1>
        <AddPostForm @sendData="onSubmitted"/>
    </div>
</template>

<script>
    import AddPostForm from '@/components/editpost/addpostform'
    import axios from 'axios'
    export default {
        layout:"coreLayout",
        components:{
            AddPostForm
        },
        methods:{
            onSubmitted(postData){
                axios.post("https://nuxtprojectbydd2-default-rtdb.asia-southeast1.firebasedatabase.app/posts.json",postData)
                .then(res=>{
                    console.log(res)
                })
            }
        }
    }
</script>

<style scoped>
    .add h1{
        background-color: red;
        color: azure;
        padding: 10px 0;
        position: relative;
    }
</style>