<template>
  <div class="assign">
    <header>
      <h1>Assign</h1>
    </header>
    <article>
      <section class="info">
        <table>
        <tr>
          <th>topic</th>
          <th>date</th>
        </tr>
        <tr>
          <td><nuxt-link to="/routelink">Route-link</nuxt-link></td>
          <td>5 / may / 22</td>
        </tr>
        <tr>
          <td><nuxt-link to="/routelink">Layouts</nuxt-link></td>
          <td>6 / may / 22</td>
        </tr>
        <tr>
          <td><nuxt-link to="/labcomponents">component</nuxt-link></td>
          <td>6 / may / 22</td>
        </tr>
        <tr>
          <td><nuxt-link to="/labcomponents">assets(img)</nuxt-link></td>
          <td>6 / may / 22</td>
        </tr>
        <tr>
          <td><nuxt-link to="/labcomponents">props (Header)</nuxt-link></td>
          <td>6 / may / 22</td>
        </tr>
        <tr>
          <td><nuxt-link to="/postlist">postlist</nuxt-link></td>
          <td>6 / may / 22</td>
        </tr>
        <tr>
          <td><nuxt-link to="/postlist">computed</nuxt-link></td>
          <td>6 / may / 22</td>
        </tr>
        <tr>
          <td><nuxt-link to="/editpost/posts/create">form</nuxt-link></td>
          <td>6 / may / 22</td>
        </tr>
      </table>
      </section>
    </article>
  </div>
</template>

<script>
  export default {
    layout:"coreLayout"
  }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap');

body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.assign {
  width: 60%;
  margin: auto;
}

h1 {
  text-align: center;
  color: aqua;
  font-size: 3rem;
  padding: 30px 0;
  font-weight: 700;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: auto;
}

th {
  background-color: aqua;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

td {
  background-color: white;
}

td:hover {
  background-color: #dddddd;
  
}

</style>