<template>
    <h1>welcome {{$route.params.name}}</h1>
</template>

<script>
export default {
    //เฉพาะตัวเลข
    validate(data){
        return /^\d+$/.test(data.params.name)
    }
}
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap');

    body{
        background-color: black;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inconsolata', monospace;
    }
    h1{
        text-align: center;
        color: aqua;
        margin: 20px 0;
        font-size: 3rem;
    }
    
</style>