<template>
    <div>
        <b-container class="py-4 addbox">
            <b-form @submit.prevent="onSubmit" @reset="onReset">
                <b-form-group label="name character" class="topic">
                    <b-form-input type="text" placeholder="name character" v-model="form.titlecard"></b-form-input>
                </b-form-group>
                <b-form-group label="description" class="topic">
                    <b-form-textarea
                        placeholder="description"
                        rows="5"
                        v-model="form.content">
                    </b-form-textarea>
                </b-form-group>
                <b-form-group label="image character (URL)" class="topic">
                    <b-form-input type="text" placeholder="image character (URL)" v-model="form.imagepost"></b-form-input>
                </b-form-group>
                <div class="buttongroup d-flex justify-content-center mt-3">
                    <b-button type="submit" variant="success" class="m-2"> add</b-button>
                    <b-button type="reset" variant="secondary" class="m-2">reset</b-button>
                </div>
            </b-form>
        </b-container>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                form:{
                    titlecard:"",
                    content:"",
                    imagepost:""
                }
            }
        },
        methods:{
            onSubmit(evt){
                this.$emit('sendData',this.form)
                this.$router.push('/editpost/posts')
            },
            onReset(evt){
                evt.preventDefault();
                this.form.titlecard='';
                this.form.content='';
                this.form.imagepost='';
            }
        }
    }
</script>

<style scoped>
    .addbox {
        width: 45%;
    }
    .topic {
        color: aqua;
    }
    button{
        width: 150px;
    }
</style>