<template>
    <div>
        <Header header="Spy x Family" description="character"/>
        <Card/>
    </div>
</template>

<script>
    import Header from '@/components/labcomponents/header'
    import Card from '@/components/labcomponents/card'
    export default {
        layout:"coreLayout",
        components:{
            Header,
            Card
        }
    }
</script>

<style>

</style>