<template>
  <div class="assign">
    <section class="routelink">
      <table>
        <tr>
          <th>name</th>
          <th>bday</th>
        </tr>
        <tr>
          <td>dd2</td>
          <td>16</td>
        </tr>
        <tr>
          <td>dd2</td>
          <td>16</td>
        </tr>
        <tr>
          <td>dd2</td>
          <td>16</td>
        </tr>
      </table>
    </section>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap');

body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  position: relative;
  height: 100vh;
  width: 100%;
}

.routelink {
  margin: 50px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 50px auto;
}

th {
  background-color: aqua;
}

td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

td {
  background-color: white;
}

td:hover {
  background-color: #dddddd;
  
}

</style>