<template>
  <div class="profile">
      <header>
          <h1>Profile</h1>
      </header>
      <article>
          <section class="info">
                <div class="image">
                    <img src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2021/03/jujutsu-kaisen-kento-nanami.jpg">
                </div>
                <ul>
                    <li>
                        <div class="imgicon">
                            <img src="https://cdn-icons.flaticon.com/png/512/4494/premium/4494475.png?token=exp=1651740368~hmac=7978be365c1770df6949040bc0506a72">
                        </div>
                        <div class="infotext">
                            <a href="https://www.facebook.com/dd.dreamerr/" target="_blank">ディーム</a>
                        </div>
                    </li>
                    <li>
                        <div class="imgicon">
                            <img src="https://cdn-icons.flaticon.com/png/512/4494/premium/4494756.png?token=exp=1651741824~hmac=d200b2e2b2653bce0445cc60a4201755">
                        </div>
                        <div class="infotext">
                            <a href="https://github.com/mydr2m" target="_blank">mydr2m</a>
                        </div>
                    </li>
                    <li>
                        <div class="imgicon">
                            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968853.png">
                        </div>
                        <div class="infotext">
                            <a href="https://gitlab.com/mydr2m" target="_blank">mydr2m</a>
                        </div>
                    </li>
                </ul>
                <div class="button">
                    <nuxt-link to="/">back to home</nuxt-link>
                </div>
          </section>
      </article>
  </div>
</template>

<script>
    export default {
        layout:"coreLayout"
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap');

    body{
        background-color: black;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inconsolata', monospace;
        position: relative;
        height: 100vh;
        width: 100%;
    }

    .profile {
        width: 60%;
        margin: auto;
    }

    h1 {
        text-align: center;
        color: aqua;
        font-size: 3rem;
        padding: 30px 0;
        font-weight: 700;
    }

    article .info .image img{
        margin: auto;
        display: block;
        width: 100%;
    }

    article .info ul{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        column-gap: 20px;
        row-gap: 20px;
        margin: 20px 0;
    }

    article .info ul li{
        display: flex;
        margin: 0;
        align-items: center;
    }

    article .info ul li .imgicon{
        width: 15%;
    }

    article .info ul li .imgicon img{
        width: 100%;
    }

    article .info ul li .infotext{
        width: 90%;
        padding: 0 20px;
    }

    article .info ul li a{
        color: aqua;
    }

    article .info .button{
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }

</style>