<template>
    <div class="posts">
        <h1>MARVEL</h1>
        <Postlist :posts="loadData"/>
        <div class="edit">
            <nuxt-link to="/editpost">edit</nuxt-link>
        </div>
    </div>
  
</template>

<script>
    import Postlist from '@/components/postlist/postlist'
    import axios from 'axios'
    export default {
        layout:"coreLayout",
        components:{
            Postlist
        },
        data(){
            return{
                loadData:[]
            }
        },
        asyncData(context){
            return axios.get("https://nuxtprojectbydd2-default-rtdb.asia-southeast1.firebasedatabase.app/posts.json")
            .then(res=>{
                const data=[];
                for(const key in res.data){
                    data.push({...res.data[key],id:key})
                }
                return {
                    loadData:data
                }
            });
        }
    }
</script>

<style scoped>
    .posts h1{
        background-color: red;
        color: azure;
        padding: 10px 0;
        position: relative;
    }

    .edit {
        position: absolute;
        bottom: 50px;
        right: 50px;
    }

    .posts a {
        background-color: aqua;
        padding: 15px;
        color: black;
        font-size: 1.2rem;
    }

    .posts a:hover {
        text-decoration: none;
        background-color: aliceblue;
        box-shadow: 10px 10px 0px 0px rgba(0, 255, 255, 1);
    }
</style>