<template>
  <div>
      <b-navbar type="dark" variant="dark" class="menulist">
          <b-navbar-nav>
              <nuxt-link class="nav-item nav-link" to="/">home</nuxt-link>
              <nuxt-link class="nav-item nav-link" to="/user">profile</nuxt-link>
              <nuxt-link class="nav-item nav-link" to="/assign">assign</nuxt-link>
          </b-navbar-nav>
      </b-navbar>
      <nuxt/>
  </div>
</template>

<script>
export default {

}
</script>

<style>
    .menulist{
        display: flex;
        justify-content: center;
    }
</style>