<template>
    <div class="container">
        <ul class="cards">
            <div class="loop" v-for="(items, id) in items" :key="id">
                <b-card no-body class="overflow-hidden" style="max-width: 540px">
                    <b-row no-gutters>
                        <b-col md="6">
                        <b-card-img 
                        :src=items.image alt="Image" class="rounded-0"></b-card-img>
                        <!-- src="~assets/image/anya.jpg" ลิ้งภาพจากโฟลเดอร์ assets-->
                        </b-col>
                        <b-col md="6">
                        <b-card-body :title=items.name>
                            <b-card-text>
                                <strong>Gender : </strong>{{items.gender}}<br>
                                <strong>Age : </strong>{{items.age}}<br>
                                <strong>Height : </strong>{{items.hairColor}}<br>
                                <strong>Weight : </strong>{{items.weight}}<br>
                                <strong>Hair Color : </strong>{{items.hairColor}}<br>
                                <strong>Eye Color : </strong>{{items.eyeColor}}
                            </b-card-text>
                        </b-card-body>
                        </b-col>
                    </b-row>
                </b-card>
            </div>
        </ul>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                items:[
                    {
                        id:1,
                        image:"https://i.pinimg.com/736x/10/c9/c0/10c9c02224ae9c08ba781bae2a856675.jpg",
                        // image:require("@/assets/image/anya.jpg"),
                        // รูปภาพในกรณีเป็นข้อมูล JSON ที่ดึงมาจากโฟลเดอร์ assets 
                        name:"Anya Forger",
                        gender:"Female",
                        age:"6 (Forged I.D. papers)",
                        height:"99.5 cm",
                        weight:"-",
                        hairColor:"Light Pink",
                        eyeColor:"Green"
                    },
                    {
                        id:2,
                        image:"https://i.pinimg.com/564x/67/5b/67/675b67e888e90ed48dc34e7ab2babbcb.jpg",
                        name:"Loid Forger",
                        gender:"Male",
                        age:"-",
                        height:"187 cm",
                        weight:"70-90 kg",
                        hairColor:"Blond",
                        eyeColor:"Blue"
                    },
                    {
                        id:3,
                        image:"https://i.pinimg.com/564x/64/7b/e0/647be049a91096787249f49e4b34734c.jpg",
                        name:"Yor Forger",
                        gender:"Female",
                        age:"27",
                        height:"170 cm",
                        weight:"-",
                        hairColor:"Black",
                        eyeColor:"Red"
                    }
                ]
            }
        }
    }
</script>

<style scoped>
    .cards {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
        align-items: stretch;
        column-gap: 20px;
        row-gap: 20px;
    }

    img {
        width: 100%;
        height: 35vh;
    }
</style>