<template>
    <div class="container mt-5">
      <b-jumbotron :header=header lead="Anya and family" class="compo">
        <p>{{description}}</p>
        <b-button class="button" href="#">More Info</b-button>
      </b-jumbotron>
    </div>
</template>

<script>
    export default {
        props:{
            header:{
                type:String,
                required:false
            },
            description:{
                type:String,
                required:false
            }
        }
    }
</script>

<style>

    .compo{
        background-color: whitesmoke;
    }

    .compo h1{
        color: black;
    }

    .button{
        background-color: aqua;
        color: black;
        border: none;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    }
</style>