<template>
  <div class="page">
    <header>
      <h1>welcome dd2LAB</h1>
    </header>
    <article>
      <section class="menu">
        <ul>
          <li>
            <nuxt-link to="/user">
              <div class="image">
                <img src="https://pbs.twimg.com/profile_images/1336344687590875136/rJ1f6IES_400x400.jpg">
              </div>
              <h2>Profile</h2>
            </nuxt-link>
          </li>
          <li>
            <nuxt-link to="/assign">
              <div class="image">
                <img src="https://preview.redd.it/wktlj4ckvhl81.jpg?auto=webp&s=55ac09a2c31d3fce5a5e9c0e4264fec1e3b72f41">
              </div>
              <h2>Assign</h2>
            </nuxt-link>
          </li>
        </ul>
      </section>
    </article>
    <footer>
      <h5>by dd2</h5>
    </footer>
  </div>
</template>

<script>
export default {
  
}
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;700&display=swap');

  body{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
    position: relative;
    height: 100vh;
    width: 100%;
  }
  h1{
    text-align: center;
    color: aqua;
    font-size: 3rem;
    padding: 30px 0;
    font-weight: 700;
  }
  
  article .menu {
    margin: 10px 0;
  }

  article .menu ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    column-gap: 100px;
    row-gap: 20px;
    display: flex;
    justify-content: center;
  }

  article .menu ul li{
    background-color: aqua;
    padding: 50px;
    text-align: center;
    box-shadow: 10px 10px 1px 2px rgb(255, 255, 255);
  }

  article .menu ul li:hover{
    background-color: white;
    box-shadow: 10px 10px 1px 2px rgba(0, 255, 255);
  }

  article .menu ul li a{
    color: black;
    font-size: 2rem;
  }

  article .menu ul li a:hover{
    text-decoration: none;
  }

  article .menu ul li .image{
    width: 100%;
  }

  article .menu ul li .image img{
    width: 200px;
    border-radius: 50%;
  }

  article .menu ul li h2{
    margin-top: 10px;
  }

  footer {
    position: absolute;
    bottom: 0;
    color: aqua;
    width: 100%;
  }
  footer h5{
    text-align: center;
  }
</style>
