<template>
  <div class="routelink">
    <div>
      <h1>routelink</h1>
      <form>
        <input type="text" name="" />
        <input type="submit" value="send" />
      </form>
      <nuxt-child />
    </div>
  </div>
</template>

<script>
    export default {
        layout:"coreLayout"
    }
</script>


<style scoped>
body {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  color: aqua;
  font-size: 3rem;
  padding: 30px 0;
  font-weight: 700;
}

form {
    text-align: center;
}
</style>