<template>
    <div class="postlists">
        <PostContent
            v-for="(posts, id) in posts" :key="id"
                :id="posts.id"
                :imagepost="posts.imagepost"
                :titlecard="posts.titlecard"
                :content="posts.content"
                :isEdit="isEdit"
        />
    </div>
</template>

<script>
    import PostContent from '@/components/postlist/postcontent'
    export default {
        components:{
            PostContent
        },
        props:{
            isEdit:{
                type:Boolean,
                required:false
            },
            posts:{
                type:Array,
                required:true
            }
        }

    }
</script>

<style>
    .postlists{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: stretch;
        column-gap: 10px;
        row-gap: 10px;
        margin: 50px 0;
    }
</style>