<template>
  <div>
    <b-card no-body class="overflow-hidden" style="max-width: 540px">
      <b-row no-gutters>
        <b-col md="6">
          <b-card-img
            :src=imagepost
            alt="Image"
            class="rounded-0"
          ></b-card-img>
        </b-col>
        <b-col md="6">
          <b-card-body :title=titlecard>
            <b-card-text>
              {{content}}
            </b-card-text>
            <nuxt-link :to="postLink" class="btn btn-success">More Info</nuxt-link>
          </b-card-body>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>

<script>
  export default {
    props:{
        id:{
            type:String,
            required:false
        },
        imagepost:{
            type:String,
            required:false
        },
        titlecard:{
            type:String,
            required:false
        },
        content:{
            type:String,
            required:false
        },
        isEdit:{
          type:Boolean,
          required:true
        }
    },
    computed:{
      postLink(){
        return this.isEdit ? '/editpost/post/'+this.id : '/post/'+this.id
      }
    }
}
</script>

<style>
  h4 {
    font-weight: 700;
  }
</style>